openapi: '3.0.0'
info:
  version: 1.0.0
  title: Anesthesia SmartSite API
  description: API for managing patient records, clinical resources, and platform integrations.
  license:
    name: MIT
  contact:
    email: support@anesthesiasmartsite.com
servers:
  - url: https://api.anesthesiasmartsite.com/v1
    description: Production
security:
  - BearerAuth: []
paths:
  /patients:
    get:
      summary: List all patients
      description: Retrieve a paginated list of patients associated with your institution.
      operationId: listPatients
      tags:
        - Patients
      parameters:
        - name: limit
          in: query
          description: Number of items to return per page (max 100)
          required: false
          schema:
            type: integer
            format: int32
            default: 20
            maximum: 100
        - name: page
          in: query
          description: Page number for pagination
          required: false
          schema:
            type: integer
            format: int32
            default: 1
      responses:
        '200':
          description: A paginated list of patients
          headers:
            x-next:
              description: A link to the next page of responses
              schema:
                type: string
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/Patients'
                  meta:
                    $ref: '#/components/schemas/PaginationMeta'
        '401':
          description: Unauthorized - missing or invalid API key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    post:
      summary: Create a patient
      description: Create a new patient record associated with your institution.
      operationId: createPatient
      tags:
        - Patients
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PatientCreate'
      responses:
        '201':
          description: Patient created successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/Patient'
        '400':
          description: Invalid request body
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /patients/{patientId}:
    get:
      summary: Get patient details
      description: Retrieve details for a specific patient by their unique identifier.
      operationId: getPatientById
      tags:
        - Patients
      parameters:
        - name: patientId
          in: path
          required: true
          description: The unique identifier of the patient
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Patient details
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/Patient'
        '404':
          description: Patient not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    put:
      summary: Update a patient
      description: Update an existing patient record.
      operationId: updatePatient
      tags:
        - Patients
      parameters:
        - name: patientId
          in: path
          required: true
          description: The unique identifier of the patient
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PatientUpdate'
      responses:
        '200':
          description: Patient updated successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/Patient'
        '404':
          description: Patient not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /records:
    get:
      summary: List all records
      description: Retrieve a paginated list of medical records.
      operationId: listRecords
      tags:
        - Records
      parameters:
        - name: patientId
          in: query
          description: Filter records by patient ID
          required: false
          schema:
            type: string
            format: uuid
        - name: limit
          in: query
          description: Number of items to return per page (max 100)
          required: false
          schema:
            type: integer
            format: int32
            default: 20
            maximum: 100
        - name: page
          in: query
          description: Page number for pagination
          required: false
          schema:
            type: integer
            format: int32
            default: 1
      responses:
        '200':
          description: A paginated list of records
          headers:
            x-next:
              description: A link to the next page of responses
              schema:
                type: string
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/Records'
                  meta:
                    $ref: '#/components/schemas/PaginationMeta'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    post:
      summary: Create a record
      description: Create a new medical record for a patient.
      operationId: createRecord
      tags:
        - Records
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RecordCreate'
      responses:
        '201':
          description: Record created successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/Record'
        '400':
          description: Invalid request body
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: API Key
  schemas:
    Patient:
      type: object
      required:
        - id
        - name
        - createdAt
      properties:
        id:
          type: string
          format: uuid
          description: Unique patient identifier
        name:
          type: string
          description: Patient full name
        dateOfBirth:
          type: string
          format: date
          description: Patient date of birth
        asaClassification:
          type: string
          enum: ['I', 'II', 'III', 'IV', 'V', 'VI']
          description: ASA Physical Status Classification
        conditions:
          type: array
          items:
            type: string
          description: List of relevant medical conditions
        allergies:
          type: array
          items:
            type: string
          description: Known allergies
        createdAt:
          type: string
          format: date-time
          description: Record creation timestamp
        updatedAt:
          type: string
          format: date-time
          description: Last update timestamp
    PatientCreate:
      type: object
      required:
        - name
      properties:
        name:
          type: string
          description: Patient full name
        dateOfBirth:
          type: string
          format: date
          description: Patient date of birth
        asaClassification:
          type: string
          enum: ['I', 'II', 'III', 'IV', 'V', 'VI']
          description: ASA Physical Status Classification
        conditions:
          type: array
          items:
            type: string
          description: List of relevant medical conditions
        allergies:
          type: array
          items:
            type: string
          description: Known allergies
    PatientUpdate:
      type: object
      properties:
        name:
          type: string
          description: Patient full name
        dateOfBirth:
          type: string
          format: date
          description: Patient date of birth
        asaClassification:
          type: string
          enum: ['I', 'II', 'III', 'IV', 'V', 'VI']
          description: ASA Physical Status Classification
        conditions:
          type: array
          items:
            type: string
          description: List of relevant medical conditions
        allergies:
          type: array
          items:
            type: string
          description: Known allergies
    Patients:
      type: array
      items:
        $ref: '#/components/schemas/Patient'
    Record:
      type: object
      required:
        - id
        - patientId
        - type
        - createdAt
      properties:
        id:
          type: string
          format: uuid
          description: Unique record identifier
        patientId:
          type: string
          format: uuid
          description: Associated patient identifier
        type:
          type: string
          enum: ['pre-operative', 'intra-operative', 'post-operative', 'consultation']
          description: Record type
        notes:
          type: string
          description: Clinical notes
        procedures:
          type: array
          items:
            type: string
          description: Procedures performed
        anestheticAgents:
          type: array
          items:
            type: string
          description: Anesthetic agents administered
        vddDocumentation:
          type: object
          properties:
            aiToolUsed:
              type: string
              description: Name and version of AI tool consulted
            recommendation:
              type: string
              description: AI recommendation received
            verificationSteps:
              type: string
              description: How the recommendation was verified
            clinicalDecision:
              type: string
              description: Final clinical decision and rationale
          description: VDD Framework documentation for AI-assisted decisions
        createdAt:
          type: string
          format: date-time
          description: Record creation timestamp
        updatedAt:
          type: string
          format: date-time
          description: Last update timestamp
    RecordCreate:
      type: object
      required:
        - patientId
        - type
      properties:
        patientId:
          type: string
          format: uuid
          description: Associated patient identifier
        type:
          type: string
          enum: ['pre-operative', 'intra-operative', 'post-operative', 'consultation']
          description: Record type
        notes:
          type: string
          description: Clinical notes
        procedures:
          type: array
          items:
            type: string
          description: Procedures performed
        anestheticAgents:
          type: array
          items:
            type: string
          description: Anesthetic agents administered
        vddDocumentation:
          type: object
          properties:
            aiToolUsed:
              type: string
            recommendation:
              type: string
            verificationSteps:
              type: string
            clinicalDecision:
              type: string
          description: VDD Framework documentation for AI-assisted decisions
    Records:
      type: array
      items:
        $ref: '#/components/schemas/Record'
    PaginationMeta:
      type: object
      properties:
        page:
          type: integer
          description: Current page number
        limit:
          type: integer
          description: Items per page
        total:
          type: integer
          description: Total number of items
    Error:
      type: object
      required:
        - code
        - message
      properties:
        code:
          type: integer
          format: int32
          description: HTTP status code
        message:
          type: string
          description: Human-readable error description
